.social-platforms{
    cursor: pointer;
    display: flex;
    justify-content: last baseline;
    align-items: center;
    margin: 25px;
    background: #111;
    font-size: 30px;
    box-shadow:
    rgba(0,0,0,0.247059) 1px  8px 1px,
    rgba(128, 109, 109, 0.118)1px 0px 0px,
    rgba(0,0,0,0.117647)1px 0px 0px,
    rgba(0,0,0,0.168627)1px 0px 0px,
    rgba(0,0,0,0.09091961)1px -0px 0px;
    text-align: center;
}
.social-platforms img{
    cursor: pointer;
    margin: 15px;
}