<div id="section">
    <h2>Say hello:</h2>
    <div id="email">
        <img id="img-email" src="../../assets/mail-white.png">
        <p id="email">info@sonyat.com</p>
    </div>
    <div id="callwhat">
        <h2>get in touch:</h2>
        <p id="call">
            <img id="img-call" src="../../assets/call.png">
            + 234 8088516262
           <!-- <img id="img-whatsapp" src="../../assets/WhatsApp_Logo_1.png">
            + 234 9011400884 -->
        </p>
    </div>
    <div id="meetface">
        <h2>Let's chat</h2>
        <img id="picture" src="../../assets/sonyat/Ay.jpg">
        <img id="img-fb" src="../../assets/fancy-facebook.png">
        <p id="fb">Sule Ayatu</p>
    </div>
</div>
