<div class="container">
 <h1>Check out our Product</h1>
    <div id="slider-outer">
        <img src="../../assets/arrow-icon2.png" class="prev" alt="Prev">
        <div class="slider-inner">
            <img src="../../assets/sonyat/house2.jpg" class="active" >      
           <img src="../../assets/sonyat/house.jpg" > 
            <img src="../../assets/sonyat/il.jpg" > 
            <img src="../../assets/sonyat/il2.jpg" >  
            <img src="../../assets/sonyat/il3.jpg">
            <img src="../../assets/sonyat/house2.jpg" >
        </div>   
        <img src="../../assets/arrow-icon.png" class="next" alt="Next">
    </div>
    
</div>
