@import url('https://fonts.googleapis.com/css?family=Muli&diplay=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  overflow: hidden;
  margin: -7px -8px -8px -8px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* AppComponent's private CSS styles */

h1 {
font-size: 1.2em;
margin-bottom: 0;
}
.nav{
  padding: 8px 1px 39px 1px;
  margin: -7px -7px 1px -7px;
  position: relative;
  height: 500px;
  font-family: sans-serif !important;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0, 0.7);
  background: url(../assets/sonyat/house.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: -5px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  
}
.logo{
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: .9;
  margin-left: 12px;
}
.menu-btn,.menu-btn.close {
  width: 0;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px; 
  transition: all .5s ease-in-out;
  
}
.menu-btn.open{
  width: 200px;
  top: 1px;
  border-top-right-radius: 15px;
  height: 85%;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  background: #111;
  transition: 0.7s ;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a{
  display: block;
  width: fit-content;
  height: fit-content;
  padding:20px 30px;
  font-variant: small-caps;
  font-size: 25px;
  text-decoration: none;
  color: #ccc;
}
nav ul li a:hover{
  color:#fff;
  transition: 0.4s;
}

.ham{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
  left: 85%;
  transform: rotate(135deg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
  transition: all .5s ease-in-out;
}
.menu-btn_burger_line2{
  width: 50px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn_burger_line1,
.menu-btn_burger_line3{
  content: "";
  position: absolute;
  width: 25px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn_burger_line1{
  transform: translateY(-16px);
}
.menu-btn_burger_line3{
  transform: translateY(16px);
}
.ham.open .menu-btn_burger_line2{
  transform: translateX(-50px) ;
  background: #111;
  box-shadow:none
}
.ham.open .menu-btn_burger_line1{
  width: 40px;
  border-radius: 5px;
  transform: rotate(180deg) translate(2px,-2px);
}
.ham.open .menu-btn_burger_line3{
  width: 40px;
  border-radius: 5px;
  transform: rotate(-95deg) translate(2px, -2px);
}
.content-area{
  position: relative;
  padding: 8px 1px 39px 1px;
  margin: -19px -7px 1px -7px;
  background: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 100;
  height: auto;
  
}
.footer{
  margin: 0px -7px -9px -9px;
  display: flex;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow:
    rgba(0,0,0,0.247059) 0px  5px 0px,
    rgba(0,0,0,0.117647) 0px -75px 0px,
    rgba(0,0,0,0.117647) 0px 0px 0px,
    rgba(0,0,0,0.168627) 0px 0px 0px,
    rgba(0,0,0,0.09091961) 0px -0px 0px;
}
.footer p{
  font-size: 16px;
  
}