<div class="service">
    <h2 id="serviceHeader">Here is what we do</h2>

    <div class="section">

        <div class="develop">
            <img class="construction" src="../../assets/sonyat/contruction.jpg">
            <div id="header">
          <h3>We are your House/<br>Building Developer</h3>
          <p>we build your ideal home that beats your taste and imagination, 
            starting from the foundation to the furnishing.we are your plug!. 
        </p>
     </div>
            
        </div>
        
        <div class="interlocks">
            <div id="header2">
                <h3>We Provide You Interlocks</h3>
                <p>
                    we provide you interlocks that beautify your home, adding a unique taste
                    and feel to making your house your home. 
                </p>
            </div>
            <img class="img-interlocks" src="../../assets/sonyat/interlocks2.jpg">
        </div>
        
        <div class="consult">
            <img class="consultancy" src="../../assets/sonyat/consultancy.jpg" >
            <div id="header3">
                <h3>We are Your building<br> Consultant</h3>
                <p>
                    do you need a session to enquiry or seek professionary opinion
                    on what fits your home best?
                    or you want to purchase or resell a property. We are available for you.
                </p>
            </div>
        </div>
    </div>
   
</div>
