<div class="home-area">
        <h2 id="h2">Why You should Use us</h2>
            <div class="mobile">
                <img id="mobile"class="img-mobile" src="../../assets/sonyat/mobile.png">
              <p id="p1"> we are accessible right on your mobile phone
            </p>
         </div>
            <div class="agree">
                <img class="img-agree" src="../../assets/sonyat/agree.png">
                    <p id="p2">
                        we reach a feasible agreement based on what suits you best 
                    </p>
            </div>
            
            <div class="map">
                <img class="img-map" src="../../assets/sonyat/map.png" >
                    <p id="p3">
                        we are closer to you than you think...
                    </p>           
    <div class="call">
    <button (click)="clickWhatsapp()"> <div id="inner-btn"><p id="p">order </p> </div></button>
    </div>
  </div>   
</div>
           